.header-main-menu-custom{
    float : left;
}
.header-wrapper-bottom{
    background: #8acdce !important;
    padding: 10px;
}
.navigation li.level0 > .level-top{
    background-color:  #8acdce !important;
    font-family: AvenirNextCondensed-Regular !important;
    font-size: 18px !important;
}
.header_custom_icon .span-icon{
    color : #fff;
    font-size : 18px;
    padding : 10px;
}